
github "Alamofire/Alamofire"  # Alamofire is an HTTP networking library written in Swift.
github "Alamofire/AlamofireNetworkActivityIndicator"  # Controls the visibility of the network activity indicator on iOS using Alamofire.
github "jdg/MBProgressHUD"  # MBProgressHUD is an iOS drop-in class that displays a translucent HUD with an indicator and/or labels while work is being done in a background thread.
github "SwiftyJSON/SwiftyJSON"  # SwiftyJSON makes it easy to deal with JSON data in Swift.


##
# Additional depencency here.
# See https://github.com/Carthage/Carthage/blob/master/Documentation/Artifacts.md for pod syntax.
# Include basic function of the dependency.
